<%= form_with(model: corruption, local: true) do |form| %>
  <% if corruption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(corruption.errors.count, "error") %> prohibited this corruption from being saved:</h2>

      <ul>
        <% corruption.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :ville %>
    <%= form.text_field :ville %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :corruption_cat_id %>
    <%= form.text_field :corruption_cat_id %>
  </div>

  <div class="field">
    <%= form.label :citoyen_id %>
    <%= form.text_field :citoyen_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
