<%= form_with(model: petition, local: true) do |form| %>
  <% if petition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

      <ul>
        <% petition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :contenu %>
    <%= form.text_area :contenu %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :petition_cat_id %>
    <%= form.collection_select :petition_cat_id, PetitionCat.all, :id, :titre,{prompt:"Sélectionnez une catégorie"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
