<%=render 'menus/menu'%>
<div class="container-fluid">
	<div class="row m-top-mini">
		<%=render 'menus/fmenu'%>
		<div class="col-lg-8 col-12">
			<div class="row">
					<div class="col-lg-8 offset-lg-2 m-top-xs">
						<img class="img-fluid m-bottom-mini" src="https://res.cloudinary.com/aseed/image/upload/v1569888266/EBEN_RADIO-26012016-4_OK_z7pyvc.jpg">
					</div>
					

	</div>
		<h3 class="text-bold m-top-xs">Découvrir des pétitions</h3>
		<hr>
			<div class="card-columns">
 <% @petitions.each do |petition| %>
  <div class="card">
  		<figure class="snip1253">
  <div class="image"><%=image_tag petition.image.url%></div>
  <figcaption>
    <h3><%=petition.titre%></h3>
    <p><%=petition.votes_for.size%> signature(s) pour cette pétition</p>
  </figcaption>
  <!--<footer>
    <div class="views"><i class="ion-eye"></i>2,907</div>
  </footer><a href="#"></a>--><%=link_to "", petition%>
</figure>
  </div>
  <% end %>
</div>
	<div class="jumbotron">
												<h3>Lancez une pétition</h3>
  							<p class="lead">
  											Les personnes qui ont lancées ces pétitions ont décidées d'agir. 
  											<br/>Ferez-vous la même chose ?
							</p>
  							
  							<%= link_to 'Lancer une pétition', new_petition_path, class:"btn btn-geste" %>
  								
						</div>
		</div>
		<%=render 'menus/smenu'%>
	</div>
</div>
<!--<h1>Petitions</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Contenu</th>
      <th>Image</th>
      <th>Petition cat</th>
      <th>Citoyen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petitions.each do |petition| %>
      <tr>
        <td><%= petition.titre %></td>
        <td><%= petition.contenu %></td>
        <td><%= petition.image %></td>
        <td><%= petition.petition_cat_id %></td>
        <td><%= petition.citoyen_id %></td>
        <td><%= link_to 'Show', petition %></td>
        <td><%= link_to 'Edit', edit_petition_path(petition) %></td>
        <td><%= link_to 'Destroy', petition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition', new_petition_path %>
-->