<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h2 class="mb-4 text-bold text-cap"><%= resource_name.to_s.humanize %>,<br> modifiez votre compte</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", placeholder:"Email address"  %>
    <%= f.label :email %>
  </div>
  

  
    <div class="form-label-group">
    <%= f.text_field :nom,class:"form-control", placeholder:"Nom"%>
     <%= f.label :nom %>
  </div>
      <div class="form-label-group">
    <%= f.text_field :ville,class:"form-control", placeholder:"Ville"  %>
    <%= f.label :ville %>
  </div>
  
      <div class="form-label-group">
    <%= f.file_field :avatar %>
    <%= f.label :photo_de_profil %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control", placeholder:"Email address" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caractères minimum</em>
    <% end %>
    <%= f.label :nouveau_mot_de_passe %> <i>(laissez vide si vous ne voulez pas le changer)</i>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control", placeholder:"Email address" %>
    <%= f.label :confirmer_le_nouveau_mot_de_passe %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :current_password, autocomplete: "current-password",class:"form-control", placeholder:"Email address",required:true  %>
    <%= f.label :mot_de_passe_actuel %> <i>(nous avons besoin de votre mot de passe actuel pour confirmer les modifications)</i>
  </div>

  <div class="actions">
    <%= f.submit "Confirmer les modifications" ,class:"btn btn-lg btn-geste btn-block btn-login text-uppercase font-weight-bold mb-2"%>
  </div>
<% end %>

<h3>Supprimer mon compte</h3>

<p>Vous n'aimez pas le geste citoyen? <%= button_to "Confirmer la suppression du compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr?" }, method: :delete,class:"btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2" %></p>

<%= link_to "Retour", :back %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>