<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image1"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h2 class="mb-4 text-bold text-cap">créer un compte</h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", placeholder:"Email address",required:true %>
    <%= f.label :email %>
  </div>
  
    <div class="form-label-group">
    <%= f.text_field :nom,class:"form-control", placeholder:"nom complet",required:true %>
    <%= f.label :nom %>
  </div>
  
      <div class="form-label-group">
    <%= f.text_field :ville,class:"form-control", placeholder:"ville",required:true%>
    <%= f.label :ville %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control", placeholder:"mot de passe",required:true %>
    <%= f.label :mot_de_passe %>
        <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control", placeholder:"confirmer le mot de passe",required:true %>
    <%= f.label :confirmer_mot_de_passe %>
  </div>

  <div class="actions">
    <%= f.submit "Créer un compte",class:"btn btn-lg btn-geste btn-block btn-login text-uppercase font-weight-bold mb-2" %>
  </div>
<% end %>
<div class="text-center">
          Vous avez déja un compte? <%= render "citoyens/shared/links" , class:"small"%>
 </div>
 <div class="text-center m-top">
          <%= link_to "revenir à la page d'accueil", root_path, class:"btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2"  %>
 </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>