<%=render 'menus/menu'%>
<div class="container-fluid">
	<div class="row m-top-mini">
		<div class="col-lg-9 col-12 zepad-card">
			<h3 class="text-bold text-maj">actualités récentes</h3>
			<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Politique</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Sport</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Environnement</a>
  </div>
</nav>
<div class="tab-content m-top-mini" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  	<div class="row">
									<%@politiques.each do |actualite|%>
				<div class="col-lg-4 col-12" >
						

<figure class="snip1253">
  <div class="image"><%=image_tag actualite.image.url%></div>
  <figcaption>
    <h3><%=actualite.titre%></h3>
    <!--<p>
 		<%=raw(truncate actualite.titre, :length=>150)%>
    </p>-->
  </figcaption>
  <!--<footer>
    <div class="views"><i class="ion-eye"></i>2,907</div>
  </footer><a href="#"></a>--><%=link_to "", actualite%>
</figure>
				</div>
						<% end %>
							</div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  	<div class="row">
									<%@sports.each do |actualite|%>
				<div class="col-lg-4 col-12" >
						

<figure class="snip1253">
  <div class="image"><%=image_tag actualite.image.url%></div>
  <figcaption>
    <h3><%=actualite.titre%></h3>
    <!--<p>
 		<%=raw(truncate actualite.titre, :length=>150)%>
    </p>-->
  </figcaption>
  <!--<footer>
    <div class="views"><i class="ion-eye"></i>2,907</div>
  </footer><a href="#"></a>--><%=link_to "", actualite%>
</figure>
				</div>
						<% end %>
							</div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
		<div class="row">
									<%@environnements.each do |actualite|%>
				<div class="col-lg-4 col-12" >
						

<figure class="snip1253">
  <div class="image"><%=image_tag actualite.image.url%></div>
  <figcaption>
    <h3><%=actualite.titre%></h3>
    <!--<p>
 		<%=raw(truncate actualite.titre, :length=>150)%>
    </p>-->
  </figcaption>
  <!--<footer>
    <div class="views"><i class="ion-eye"></i>2,907</div>
  </footer><a href="#"></a>--><%=link_to "", actualite%>
</figure>
				</div>
						<% end %>
							</div>
	</div>
</div>
		</div>
	</div>
</div>
<!--<h1>Actualites</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Contenu</th>
      <th>Image</th>
      <th>Category</th>
      <th>Administrateur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actualites.each do |actualite| %>
      <tr>
        <td><%= actualite.titre %></td>
        <td><%= actualite.contenu %></td>
        <td><%= actualite.image %></td>
        <td><%= actualite.category_id %></td>
        <td><%= actualite.administrateur_id %></td>
        <td><%= link_to 'Show', actualite %></td>
        <td><%= link_to 'Edit', edit_actualite_path(actualite) %></td>
        <td><%= link_to 'Destroy', actualite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actualite', new_actualite_path %>-->
