<%= render 'menus/menu'%>
<div class="container-fluid">
	<div class="row">
		<%=render 'menus/fmenu'%>
		<div class="col-lg-8 col-12">
					<div class="row">
						<div class="col-lg-12 col-12">
						<h1 class="big-titre text-maj"><strong><%= @actualite.titre %></strong></h1>
						<%=image_tag @actualite.image.url, class:"img-fluid"%>
					<p>Publié par: <i><%= @actualite.administrateur.email %></i></p>
					<p class="text-maj">Catégorie: <small><%= @actualite.category.titre%></small></p>
					<% if citoyen_signed_in?%>
                            <%= link_to  like_actualite_path(@actualite),class:"btn btn-success", method: :put do %>
                            J'aime <span class="badge badge-light"><%=@actualite.get_likes.size%></span>
                            <%end %>
					<%= link_to dislike_actualite_path(@actualite),class:"btn btn-danger", method: :put do %>
     					Je n'aime pas <span class="badge badge-light"> <%=@actualite.get_dislikes.size%></span>
     					<%end %>
      					<% else %>
      					<li class="nav-item d-xl-block d-lg-block d-md-block">
                               <p class="alert alert-danger"> <span class="text-bold small">Vous devez être connecté pour donner votre avis sur cet article</span>
                                <%=link_to "Se connecter", new_citoyen_session_path, class:"btn btn-geste btn-sm"%>
                                </p>
                            </li>
      				<%end %>
					
					
					
						</div>
					</div>
						<div class="row">
				<div class="col-lg-12 col-12 contenu">
						<%= raw(@actualite.contenu) %>
				</div>
			</div>
		</div>
		<%=render 'menus/smenu'%>
	</div>
</div>
<%if administrateur_signed_in?%>
<%= link_to 'Edit', edit_actualite_path(@actualite) %> |
<%= link_to 'Back', actualites_path %>
<%end%>