<%= render 'menus/menu'%>
<div class="container-fluid">
	<div class="row">
		<%=render 'menus/fmenu'%>
		<div class="col-lg-8 col-12">
					<div class="row">
						<div class="col-lg-12 col-12">
						<h1 class="big-titre text-maj"><strong><%= @actualite.titre %></strong></h1>
						<%=image_tag @actualite.image.url, class:"img-fluid"%>
					<p>Publié par: <i><%= @actualite.administrateur.email %></i></p>
					<p class="text-maj">Catégorie: <small><%= @actualite.category.titre%></small></p>
					<%= link_to "j'aime", like_actualite_path(@actualite),class:"btn btn-success", method: :put %>
					<%= link_to "Je n'aime pas", dislike_actualite_path(@actualite),class:"btn btn-danger", method: :put %>
					<%=@actualite.get_likes.size%>
					<%=@actualite.get_dislikes.size%>
						</div>
					</div>
						<div class="row">
				<div class="col-lg-12 col-12 contenu">
						<%= raw(@actualite.contenu) %>
				</div>
			</div>
		</div>
		<%=render 'menus/smenu'%>
	</div>
</div>
<%if administrateur_signed_in?%>
<%= link_to 'Edit', edit_actualite_path(@actualite) %> |
<%= link_to 'Back', actualites_path %>
<%end%>