<%= form_with(model: magazine, local: true) do |form| %>
  <% if magazine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(magazine.errors.count, "error") %> prohibited this magazine from being saved:</h2>

      <ul>
        <% magazine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.text_field :cover %>
  </div>

  <div class="field">
    <%= form.label :lien %>
    <%= form.text_field :lien %>
  </div>

  <div class="field">
    <%= form.label :administrateur_id %>
    <%= form.text_field :administrateur_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
