<%= form_with(model: sondage, local: true) do |form| %>
  <% if sondage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sondage.errors.count, "error") %> prohibited this sondage from being saved:</h2>

      <ul>
        <% sondage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :pour %>
    <%= form.text_field :pour %>
  </div>
    <div class="field">
    <%= form.label :contre %>
    <%= form.text_field :contre %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
