<%=render 'menus/menu'%>

<p>
  <strong>Titre:</strong>
  <%= @sondage.titre %>
  					<%= link_to @sondage.pour, like_sondage_path(@sondage),class:"btn btn-success btn-sm", method: :put %>
					<%=@sondage.get_likes.size%>
					<%=@sondage.get_dislikes.size%>
					<%=@sondage.votes_for.size%>
					<%= link_to @sondage.contre, dislike_sondage_path(@sondage),class:"btn btn-danger btn-sm", method: :put %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sondage.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @sondage.slug %>
</p>

<p>
  <strong>Image:</strong>
  <%= @sondage.image %>
</p>

<p>
  <strong>Administrateur:</strong>
  <%= @sondage.administrateur_id %>
</p>

<%= link_to 'Edit', edit_sondage_path(@sondage) %> |
<%= link_to 'Back', sondages_path %>
