<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h2 class="mb-4 text-bold text-cap">Se connecter</h2>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", placeholder:"Votre adresse email",required:true %>
    <%= f.label :email %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "current-password",id:"inputPassword", class:"form-control", placeholder:"Mot de passe", required:true %>
    <label for="inputPassword">Mot de passe</label>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="custom-control custom-checkbox mb-3" style="visibility:hidden;">
      <%= f.check_box :remember_me, class:"custom-control-input", checked:true %>
      <%= f.label :se_souvenir_de_moi,class:"custom-control-label" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Se Connecter",class:"btn btn-lg btn-geste btn-block btn-login text-uppercase font-weight-bold mb-2"%>
  </div>
<% end %>
<div class="text-center">
                  <%= render "citoyens/shared/links" , class:"small"%>
 </div>
            
       <div class="text-center m-top">
          <%= link_to "revenir à la page d'accueil", root_path, class:"btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2"  %>
 </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>