<p id="notice"><%= notice %></p>

<h1>Petition Cats</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petition_cats.each do |petition_cat| %>
      <tr>
        <td><%= petition_cat.titre %></td>
        <td><%= petition_cat.description %></td>
        <td><%= petition_cat.slug %></td>
        <td><%= link_to 'Show', petition_cat %></td>
        <td><%= link_to 'Edit', edit_petition_cat_path(petition_cat) %></td>
        <td><%= link_to 'Destroy', petition_cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition Cat', new_petition_cat_path %>
