<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @category.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Administrateur:</strong>
  <%= @category.administrateur_id %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
